
<!-- <app-dashboard-toast [message]="toast.message"></app-dashboard-toast>

<div class="page login-page">
  <div class="container">
    <div class="form-outer text-center d-flex align-items-center">
      <div class="form-inner">
        <div class="logo text-uppercase"><span>Bootstrap</span><strong class="text-primary">Dashboard</strong></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
       
        <form [formGroup]="changepasswordForm" (ngSubmit)="updateNewPassword()">
          <div class="form-group-material"  [ngClass]="setClassNewPassword()">
            <input  class="input-material" type="password" name="password" formControlName="newpassword" placeholder="New password">
           
          </div>

          <div class="form-group-material" [ngClass]=" setClassConfirmNewPassword()">
            <input class="input-material" type="password" name="password" formControlName="confirmnewpassword" placeholder="Confirm new password" >
            
          </div>
          <button class="btn btn-primary" type="submit"  [disabled]="!changepasswordForm.valid"><i class="fa fa-sign-in"></i> Change Password</button>
         
        </form>
        
      </div>
      <div class="copyrights text-center">
        <p>Design by <a href="https://lakshyait.in" class="external">Lakshya IT</a></p>
      </div>
    </div>
  </div>
</div> -->


<!-- <app-loading [condition]="isLoading"></app-loading> -->

<app-dashboard-toast [message]="toast.message"></app-dashboard-toast>

<div class="card mb-3" *ngIf="!isLoading">
  <!-- <h4 class="card-header">Vendor Details ({{vendors.length}})</h4> -->
  <div class="card-body">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">Change Password</th>          
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let seller of sellers">
          <td>{{seller.password}}</td>              
          <td>
            <button class="btn btn-sm btn-primary" (click)="enableEditing(seller)"><i class="fa fa-pencil"></i> Edit</button> 
            <button class="btn btn-sm btn-danger" (click)="deleteRat(rat)"><i class="fa fa-trash"></i> Delete</button>
          </td>
        </tr>  
      </tbody>
      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="5">
            <form class="form-inline" #form="ngForm" (ngSubmit)="editUser(seller)">
              <input class="form-control mr-2" type="password" name="password" [(ngModel)]="seller.password" placeholder="Seller Password" required>
              
              <button class="btn btn-sm btn-primary mr-2" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
              <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- <div class="card" *ngIf="!isEditing">
  <h4 class="card-header">Change Password</h4>
  <div class="card-body">
    <form class="form-horizontal" [formGroup]="addchangepasswordForm" (ngSubmit)="addSeller()">
      <input class="form-control mr-2" type="password" name="password" formControlName="password" placeholder="Change Password">
      <button class="btn btn-primary" type="submit" [disabled]="!addVendorDetailsFrom.valid"><i class="fa fa-floppy-o"></i> Save</button>
    </form>
  </div>
</div> -->
