/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files
@import '~font-awesome/css/font-awesome.css';


.body{
      background-color: #00ffaa;
  } */

/* 
body {
    height: 1000px;
} */

/* .my-header {
    height: 80px;
    transition: all 1s ease-out;
}
.page-scroll-header .my-header {
    background-color: #F0503C !important;
    height: 60px;
    opacity: 0.9;
} */